<div class="user">
  <div class="name_follow">
    <h3><%= link_to "@#{user.dis_name}", user_path(user) %></h3>
    <span>
      <% if @user %>
        <%= render "follow_form" %>
      <% end %>
     </span>
  </div>
  <div class="about">
    <%= user.about %>
  </div>
  <div class="posts_comments">

    <div class="user-post-count">
      <h6>Posts:</h6>
      <%= user.posts.count %>
    </div>
    <div class="user-comment-count">  
      <h6> Comments:</h6>
      <%= user.comments.count %>
    </div>
     <div class="user-following">
      <h6>Following</h6>
      <%= user.following.count %>
    </div>
    <div class="user-followers">
      <h6>Followers</h6>
      <%= user.followers.count %>
    </div>

  </div>
  
</div>

