<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.reverse.each do |post| %>
<div class="post-wrapper">
	<div class="display-name-wrapper">
		<%= link_to "@#{post.user.dis_name}", user_path(post.user_id) %>
	</div>
	<div class="title-wrapper">
		<strong><%= best_in_place_if post.user.id == current_user.id, post, :title, :as => :input %></strong>
	</div>
	<div class="content-wrapper">
		<%= best_in_place_if post.user.id == current_user.id, post, :content, :as => :textarea %>	</div>
	<div class="options-wrapper">
		<% if post.user.id == current_user.id %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete Post", post, method: :delete %>		
		<% end %>
	</div>
</div>
<% end %>

