<!DOCTYPE html>
<html>
  <head>
    <title>The Jonestown Getdown</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg container">
        <a class="navbar-brand" href="#">Jonestown Getdown</a>
        <% if user_logged_in? %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-pills nav-fill">
              <li class="nav-item">
                <%= link_to "Home", root_path, :class => "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "All Users", users_path, :class => 'nav-link' %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile Options</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "View Profile", user_path(current_user), :class => "dropdown-item" %>
                    <%= link_to "Edit Posts", user_posts_path(current_user), :class => "dropdown-item"%>
                    <%= link_to "Edit Profile", edit_user_path(current_user), :class => "dropdown-item" %>
                    

                  <div class="dropdown-divider"></div>
                  <%= link_to "Log Out", logout_path, method: :delete, :class => "dropdown-item" %>
                </div>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav mr-auto nav-pills nav-fill">
              <li class="nav-item"><%= link_to "Users New", new_user_path, :class => "nav-link" %></li>
              <li class="nav-item"><%= link_to "Log In", new_session_path, :class => "nav-link" %></li>
            </ul>
          <% end %>
            <div class="form-inline my-2 my-lg-0">
              <%= form_tag(search_users_path, method: 'get') do %>
                <%= text_field_tag :search, params[:search_name], :autocomplete => :on, :id => 'user_search' %>
                <%= submit_tag("Search", name: nil) %>
              <% end %>
              <!-- <input class="form-control mr-sm-2" type="search" id="user_search" placeholder="Search" aria-label="Search"> -->
              <div id="results"></div>
            </div>
            <div class="col-sm-3 ui-widget" id="search-wrapper">
              <!-- <div><input type="text" id="user_search" placeholder="Search for User"></div> -->
              
            </div>
        </div>
      </nav>

  	<div class="container">
  		<div class="row">
       <% if user_logged_in? %>
        <div class="col-sm-3" id="user_info">
          <div id="user-name-wrapper">
            <h3><%= link_to "@#{current_user.dis_name}", user_path(current_user) %></h3>
          </div>
          <div id="user-info-wrapper">
            <div class="posts_comments">
              <div class="user-post-count">
              <h6>Posts:</h6>
                <%= current_user.posts.count %>
              </div>
              <div class="user-comment-count">  
                <h6> Comments:</h6>
                <%= current_user.comments.count %>
              </div>
              <div class="followers-following">
                <div class="user-following">
                  <h6>Following</h6>
                  <%= current_user.following.count %>
                </div>
                <div class="user-followers">
                  <h6>Followers</h6>
                  <%= current_user.followers.count %>
                </div>
              </div>
            </div>
            <div id="about">
              <%= current_user.about %>
            </div>
          </div>
        </div>
        <% else %>
          <div class="col-sm-3"></div> <!--for spacing purposes only -->
        <% end %>

        <div class="col-sm-9">
    		  <%= yield %>
        </div>

    	</div>
  	</div>
  </body>
</html>


